In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
R6df = pd.read_csv('~/OneDrive/python3/aminomap/Amyloid_prediction/amyloid_sequence_01.csv')
R6df.tail()

    Sequence  Amyloid
234   AEMEYL        0
235   AENGKS        0
236   AEVLAL        0
237   AGVNYF        1
238   AINKIQ        0

In [3]:
site=R6df["Sequence"]
site.head()

0    AAELRN
1    AARRFF
2    AEKLFD
3    AEMEYL
4    AENGKS
Name: Sequence, dtype: object

In [4]:
First=site.str[0]
Second=site.str[1]
Third=site.str[2]
Fourth=site.str[3]
Fifth=site.str[4]
Sixth=site.str[5]

In [5]:
df1=pd.DataFrame(First)
df1=df1.rename(columns={"Sequence":"First"})
df2=pd.DataFrame(Second)
df2=df2.rename(columns={"Sequence":"Second"})
df3=pd.DataFrame(Third)
df3=df3.rename(columns={"Sequence":"Third"})
df4=pd.DataFrame(Fourth)
df4=df4.rename(columns={"Sequence":"Fourth"})
df5=pd.DataFrame(Fifth)
df5=df5.rename(columns={"Sequence":"Fifth"})
df6=pd.DataFrame(Sixth)
df6=df6.rename(columns={"Sequence":"Sixth"})

In [6]:
df=pd.concat([df1,df2,df3,df4,df5,df6],axis=1)
df.head()
#column=["A","B","C","D","E","F"]

  First Second Third Fourth Fifth Sixth
0     A      A     E      L     R     N
1     A      A     R      R     F     F
2     A      E     K      L     F     D
3     A      E     M      E     Y     L
4     A      E     N      G     K     S

In [7]:
R6df = pd.concat([R6df,df],axis=1)

In [8]:
R6df.head()

  Sequence  Amyloid First Second Third Fourth Fifth Sixth
0   AAELRN        0     A      A     E      L     R     N
1   AARRFF        0     A      A     R      R     F     F
2   AEKLFD        0     A      E     K      L     F     D
3   AEMEYL        0     A      E     M      E     Y     L
4   AENGKS        0     A      E     N      G     K     S

In [9]:
R6df=R6df.reset_index()
R6df

     index Sequence  Amyloid First Second Third Fourth Fifth Sixth
0        0   AAELRN        0     A      A     E      L     R     N
1        1   AARRFF        0     A      A     R      R     F     F
2        2   AEKLFD        0     A      E     K      L     F     D
3        3   AEMEYL        0     A      E     M      E     Y     L
4        4   AENGKS        0     A      E     N      G     K     S
5        5   AEVLAL        0     A      E     V      L     A     L
6        6   AGVNYF        1     A      G     V      N     Y     F
7        7   AINKIQ        0     A      I     N      K     I     Q
8        8   ALEEYT        1     A      L     E      E     Y     T
9        9   AQFIIS        1     A      Q     F      I     I     S
10      10   ASSSNY        1     A      S     S      S     N     Y
11      11   ATVIIE        1     A      T     V      I     I     E
12      12   DADLYL        0     D      A     D      L     Y     L
13      13   DAVKIS        0     D      A     V      K     I     S
14      14   DCVNIT        1     D      C     V      N     I     T
15      15   DDSLFF        0     D      D     S      L     F     F
16      16   DECFFF        0     D      E     C      F     F     F
17      17   DIEVDL        0     D      I     E      V     D     L
18      18   DILTYT        0     D      I     L      T     Y     T
19      19   DLLKNG        0     D      L     L      K     N     G
20      20   DTVIIE        1     D      T     V      I     I     E
21      21   EALYLV        0     E      A     L      Y     L     V
22      22   ECFFFE        0     E      C     F      F     F     E
23      23   EECLFL        0     E      E     C      L     F     L
24      24   EGVLYV        1     E      G     V      L     Y     V
25      25   EHSDLS        0     E      H     S      D     L     S
26      26   EIPAGV        0     E      I     P      A     G     V
27      27   EKDEYA        0     E      K     D      E     Y     A
28      28   EKNLYL        0     E      K     N      L     Y     L
29      29   ERGFFY        0     E      R     G      F     F     Y
..     ...      ...      ...   ...    ...   ...    ...   ...   ...
209    209   VSFEIV        1     V      S     F      E     I     V
210    210   VTLSQP        0     V      T     L      S     Q     P
211    211   VTQEFW        0     V      T     Q      E     F     W
212    212   VTSTFS        1     V      T     S      T     F     S
213    213   VTVIIE        1     V      T     V      I     I     E
214    214   VYSRHP        0     V      Y     S      R     H     P
215    215   WIVIFF        1     W      I     V      I     F     F
216    216   WSFYLL        0     W      S     F      Y     L     L
217    217   WTVIIE        1     W      T     V      I     I     E
218    218   WVENYP        0     W      V     E      N     Y     P
219    219   WVFWIG        1     W      V     F      W     I     G
220    220   WYFYIQ        0     W      Y     F      Y     I     Q
221    221   YASEIE        0     Y      A     S      E     I     E
222    222   YLEIII        0     Y      L     E      I     I     I
223    223   YLNWYQ        1     Y      L     N      W     Y     Q
224    224   YQLENY        0     Y      Q     L      E     N     Y
225    225   YTFTIS        0     Y      T     F      T     I     S
226    226   YTVIIE        1     Y      T     V      I     I     E
227    227   YVEYIG        1     Y      V     E      Y     I     G
228    228   YVSGFH        0     Y      V     S      G     F     H
229    229   YYQNYQ        1     Y      Y     Q      N     Y     Q
230    230   YYTEFT        0     Y      Y     T      E     F     T
231    231   AAELRN        0     A      A     E      L     R     N
232    232   AARRFF        0     A      A     R      R     F     F
233    233   AEKLFD        0     A      E     K      L     F     D
234    234   AEMEYL        0     A      E     M      E     Y     L
235    235   AENGKS        0     A      E     N      G     K     S
236    236   AEVLAL        0     A      E     V      L     A     L
237    237   AGVNYF        1     A      G     V      N     Y     F
238    238   AINKIQ        0     A      I     N      K     I     Q

[239 rows x 9 columns]

In [10]:
AA = pd.read_csv('~/OneDrive/python3/aminomap/Amyloid_prediction/aminoacid_parameter.csv')
AA

,Name,Steric paramter,Polarizability,Volume,Hydrophobicity,Isoelectric point,Helix probability,Sheet probability
0,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
1,G,0.00,0.00,0.00,0.00,6.07,0.13,0.15
2,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
3,L,2.59,0.19,4.00,1.70,6.04,0.39,0.31
4,I,4.19,0.19,4.00,1.80,6.04,0.30,0.45
5,F,2.94,0.29,5.89,1.79,5.67,0.30,0.38
6,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
7,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
8,T,3.03,0.11,2.60,0.26,5.60,0.21,0.36
9,S,1.31,0.06,1.60,-0.04,5.70,0.20,0.28
10,R,2.34,0.29,6.13,-1.01,10.74,0.36,0.25
11,K,1.89,0.22,4.77,-0.99,9.99,0.32,0.27
12,H,2.99,0.23,4.66,0.13,7.69,0.27,0.30
13,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
14,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
15,N,1.60,0.13,2.95,-0.60,6.52,0.21,0.22
16,Q,1.56,0.18,3.95,-0.22,5.65,0.36,0.25
17,M,2.35,0.22,4.43,1.23,5.71,0.38,0.32
18,P,2.67,0.00,2.72,0.72,6.80,0.13,0.34
19,C,1.77,0.13,2.43,1.54,6.35,0.17,0.41

In [11]:
AA=AA.rename(columns={"Steric paramter":"s"})
AA=AA.rename(columns={"Polarizability":"p"})
AA=AA.rename(columns={"Volume":"v"})
AA=AA.rename(columns={"Hydrophobicity":"h"})
AA=AA.rename(columns={"Isoelectric point":"i"})
AA=AA.rename(columns={"Helix probability":"a"})
AA=AA.rename(columns={"Sheet probability":"b"})
AA

   Name     s     p     v     h      i     a     b
0     A  1.28  0.05  1.00  0.31   6.11  0.42  0.23
1     G  0.00  0.00  0.00  0.00   6.07  0.13  0.15
2     V  3.67  0.14  3.00  1.22   6.02  0.27  0.49
3     L  2.59  0.19  4.00  1.70   6.04  0.39  0.31
4     I  4.19  0.19  4.00  1.80   6.04  0.30  0.45
5     F  2.94  0.29  5.89  1.79   5.67  0.30  0.38
6     Y  2.94  0.30  6.47  0.96   5.66  0.25  0.41
7     W  3.21  0.41  8.08  2.25   5.94  0.32  0.42
8     T  3.03  0.11  2.60  0.26   5.60  0.21  0.36
9     S  1.31  0.06  1.60 -0.04   5.70  0.20  0.28
10    R  2.34  0.29  6.13 -1.01  10.74  0.36  0.25
11    K  1.89  0.22  4.77 -0.99   9.99  0.32  0.27
12    H  2.99  0.23  4.66  0.13   7.69  0.27  0.30
13    D  1.60  0.11  2.78 -0.77   2.95  0.25  0.20
14    E  1.56  0.15  3.78 -0.64   3.09  0.42  0.21
15    N  1.60  0.13  2.95 -0.60   6.52  0.21  0.22
16    Q  1.56  0.18  3.95 -0.22   5.65  0.36  0.25
17    M  2.35  0.22  4.43  1.23   5.71  0.38  0.32
18    P  2.67  0.00  2.72  0.72   6.80  0.13  0.34
19    C  1.77  0.13  2.43  1.54   6.35  0.17  0.41

In [12]:
R6df1=pd.merge(R6df,AA,left_on="First",right_on="Name")
R6df1=R6df1.sort_values(by=["index"])
R6df2=pd.merge(R6df,AA,left_on="Second",right_on="Name")
R6df2=R6df2.sort_values(by=["index"])
R6df3=pd.merge(R6df,AA,left_on="Third",right_on="Name")
R6df3=R6df3.sort_values(by=["index"])
R6df4=pd.merge(R6df,AA,left_on="Fourth",right_on="Name")
R6df4=R6df4.sort_values(by=["index"])
R6df5=pd.merge(R6df,AA,left_on="Fifth",right_on="Name")
R6df5=R6df5.sort_values(by=["index"])
R6df6=pd.merge(R6df,AA,left_on="Sixth",right_on="Name")
R6df6=R6df6.sort_values(by=["index"])

In [13]:
R6df1

,index,Sequence,Amyloid,First,Second,Third,Fourth,Fifth,Sixth,Name,s,p,v,h,i,a,b
0,0,AAELRN,0,A,A,E,L,R,N,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
1,1,AARRFF,0,A,A,R,R,F,F,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
2,2,AEKLFD,0,A,E,K,L,F,D,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
3,3,AEMEYL,0,A,E,M,E,Y,L,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
4,4,AENGKS,0,A,E,N,G,K,S,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
5,5,AEVLAL,0,A,E,V,L,A,L,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
6,6,AGVNYF,1,A,G,V,N,Y,F,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
7,7,AINKIQ,0,A,I,N,K,I,Q,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
8,8,ALEEYT,1,A,L,E,E,Y,T,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
9,9,AQFIIS,1,A,Q,F,I,I,S,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
10,10,ASSSNY,1,A,S,S,S,N,Y,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
11,11,ATVIIE,1,A,T,V,I,I,E,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
20,12,DADLYL,0,D,A,D,L,Y,L,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
21,13,DAVKIS,0,D,A,V,K,I,S,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
22,14,DCVNIT,1,D,C,V,N,I,T,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
23,15,DDSLFF,0,D,D,S,L,F,F,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
24,16,DECFFF,0,D,E,C,F,F,F,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
25,17,DIEVDL,0,D,I,E,V,D,L,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
26,18,DILTYT,0,D,I,L,T,Y,T,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
27,19,DLLKNG,0,D,L,L,K,N,G,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
28,20,DTVIIE,1,D,T,V,I,I,E,D,1.60,0.11,2.78,-0.77,2.95,0.25,0.20
29,21,EALYLV,0,E,A,L,Y,L,V,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
30,22,ECFFFE,0,E,C,F,F,F,E,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
31,23,EECLFL,0,E,E,C,L,F,L,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
32,24,EGVLYV,1,E,G,V,L,Y,V,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
33,25,EHSDLS,0,E,H,S,D,L,S,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
34,26,EIPAGV,0,E,I,P,A,G,V,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
35,27,EKDEYA,0,E,K,D,E,Y,A,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
36,28,EKNLYL,0,E,K,N,L,Y,L,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
37,29,ERGFFY,0,E,R,G,F,F,Y,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,209,VSFEIV,1,V,S,F,E,I,V,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
218,210,VTLSQP,0,V,T,L,S,Q,P,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
219,211,VTQEFW,0,V,T,Q,E,F,W,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
220,212,VTSTFS,1,V,T,S,T,F,S,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
221,213,VTVIIE,1,V,T,V,I,I,E,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
222,214,VYSRHP,0,V,Y,S,R,H,P,V,3.67,0.14,3.00,1.22,6.02,0.27,0.49
223,215,WIVIFF,1,W,I,V,I,F,F,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
224,216,WSFYLL,0,W,S,F,Y,L,L,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
225,217,WTVIIE,1,W,T,V,I,I,E,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
226,218,WVENYP,0,W,V,E,N,Y,P,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
227,219,WVFWIG,1,W,V,F,W,I,G,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
228,220,WYFYIQ,0,W,Y,F,Y,I,Q,W,3.21,0.41,8.08,2.25,5.94,0.32,0.42
229,221,YASEIE,0,Y,A,S,E,I,E,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
230,222,YLEIII,0,Y,L,E,I,I,I,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
231,223,YLNWYQ,1,Y,L,N,W,Y,Q,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
232,224,YQLENY,0,Y,Q,L,E,N,Y,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
233,225,YTFTIS,0,Y,T,F,T,I,S,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
234,226,YTVIIE,1,Y,T,V,I,I,E,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
235,227,YVEYIG,1,Y,V,E,Y,I,G,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
236,228,YVSGFH,0,Y,V,S,G,F,H,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
237,229,YYQNYQ,1,Y,Y,Q,N,Y,Q,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
238,230,YYTEFT,0,Y,Y,T,E,F,T,Y,2.94,0.30,6.47,0.96,5.66,0.25,0.41
12,231,AAELRN,0,A,A,E,L,R,N,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
13,232,AARRFF,0,A,A,R,R,F,F,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
14,233,AEKLFD,0,A,E,K,L,F,D,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
15,234,AEMEYL,0,A,E,M,E,Y,L,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
16,235,AENGKS,0,A,E,N,G,K,S,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
17,236,AEVLAL,0,A,E,V,L,A,L,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
18,237,AGVNYF,1,A,G,V,N,Y,F,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
19,238,AINKIQ,0,A,I,N,K,I,Q,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23

In [14]:
R6df1.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/First.csv")

In [15]:
R6df2.shape

(239, 17)

In [16]:
R6df2.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Second.csv")
R6df3.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Third.csv")
R6df4.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Fourth.csv")
R6df5.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Fifth.csv")
R6df6.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Sixth.csv")

In [17]:
R6df2.head()

,index,Sequence,Amyloid,First,Second,Third,Fourth,Fifth,Sixth,Name,s,p,v,h,i,a,b
0,0,AAELRN,0,A,A,E,L,R,N,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
1,1,AARRFF,0,A,A,R,R,F,F,A,1.28,0.05,1.00,0.31,6.11,0.42,0.23
19,2,AEKLFD,0,A,E,K,L,F,D,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
20,3,AEMEYL,0,A,E,M,E,Y,L,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21
21,4,AENGKS,0,A,E,N,G,K,S,E,1.56,0.15,3.78,-0.64,3.09,0.42,0.21

In [18]:
First_para=R6df1.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)
Second_para=R6df2.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)
Third_para=R6df3.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)
Fourth_para=R6df4.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)
Fifth_para=R6df5.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)
Sixth_para=R6df6.drop(columns=["Sequence","Amyloid","First","Second","Third","Fourth","Fifth","Sixth","Name"], axis=1)

In [19]:
First_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/First_para.csv")
Second_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Second_para.csv")
Third_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Third_para.csv")
Fourth_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Fourth_para.csv")
Fifth_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Fifth_para.csv")
Sixth_para.to_csv("~/OneDrive/python3/aminomap/Amyloid_prediction/Sixth_para.csv")

In [21]:
First_para.head()

   index     s     p    v     h     i     a     b
0      0  1.28  0.05  1.0  0.31  6.11  0.42  0.23
1      1  1.28  0.05  1.0  0.31  6.11  0.42  0.23
2      2  1.28  0.05  1.0  0.31  6.11  0.42  0.23
3      3  1.28  0.05  1.0  0.31  6.11  0.42  0.23
4      4  1.28  0.05  1.0  0.31  6.11  0.42  0.23

In [20]:
corr([R6df1]="Steric parameter", [R6df2]="Steric parameter")

SyntaxError: keyword can't be an expression (<ipython-input-20-3739f94305ff>, line 1)

In [25]:
R6df1.head()

,index,Sequence,Amyloid,First,Second,Third,Fourth,Fifth,Sixth,Name,s,p,v,h,i,a,b
0,0,AAELRN,0,A,A,E,L,R,N,A,1.28,0.05,1.0,0.31,6.11,0.42,0.23
1,1,AARRFF,0,A,A,R,R,F,F,A,1.28,0.05,1.0,0.31,6.11,0.42,0.23
2,2,AEKLFD,0,A,E,K,L,F,D,A,1.28,0.05,1.0,0.31,6.11,0.42,0.23
3,3,AEMEYL,0,A,E,M,E,Y,L,A,1.28,0.05,1.0,0.31,6.11,0.42,0.23
4,4,AENGKS,0,A,E,N,G,K,S,A,1.28,0.05,1.0,0.31,6.11,0.42,0.23

In [40]:
Second_para.head()

    index     s     p     v     h     i     a     b
0       0  1.28  0.05  1.00  0.31  6.11  0.42  0.23
1       1  1.28  0.05  1.00  0.31  6.11  0.42  0.23
19      2  1.56  0.15  3.78 -0.64  3.09  0.42  0.21
20      3  1.56  0.15  3.78 -0.64  3.09  0.42  0.21
21      4  1.56  0.15  3.78 -0.64  3.09  0.42  0.21

In [153]:
FIRST=[1,0,0,0,0,0,0]
SECOND=[0,1,0,0,0,0,0]
FIRST_p0=[1.28,0.05,1.0,0.31,6.11,0.42,0.23]
SECOND_p0=Second_para.loc[:0,["s","p","v","h","i","a","b"]]

FIRSTdf=pd.DataFrame(FIRST)
SECONDdf=pd.DataFrame(SECOND)
FIRST_p0df=pd.DataFrame(FIRST_p0)
SECOND_p0df=pd.DataFrame(SECOND_p0)

FIRST_p0dfT=FIRST_p0df.T
SECOND_p0dfT=SECOND_p0df.T

In [159]:
A=np.dot(FIRSTdf,FIRST_p0dfT)

In [160]:
B=np.dot(SECONDdf,SECOND_p0df)

In [163]:
A+B

array([[1.28, 0.05, 1.  , 0.31, 6.11, 0.42, 0.23],
       [1.28, 0.05, 1.  , 0.31, 6.11, 0.42, 0.23],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ],
       [0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ]])

In [148]:
SECOND_p0

      s     p    v     h     i     a     b
0  1.28  0.05  1.0  0.31  6.11  0.42  0.23

In [141]:
SECOND_p0df

      s     p    v     h     i     a     b
0  1.28  0.05  1.0  0.31  6.11  0.42  0.23

In [119]:
FIRST

[1, 0, 0, 0, 0, 0, 0]

In [150]:
FIRSTdf

   0
0  0
1  1
2  0
3  0
4  0
5  0
6  0

In [120]:
FIRST_p0df

      0
0  1.28
1  0.05
2  1.00
3  0.31
4  6.11
5  0.42
6  0.23

In [121]:
FIRST_p0dfT

      0     1    2     3     4     5     6
0  1.28  0.05  1.0  0.31  6.11  0.42  0.23